body {
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 1;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

header.header {
  height: 52px;
}

header .header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  max-width: 1300px;
  height: 100px;
  padding: 0 16px 0 16px;
  transition: 0.2s ease;
}

header .header_content.header {
  height: 52px;
}

.logo_and_brandname {
  display: flex;
  align-items: center;
}

.logo_and_brandname h1 {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-left: 32px;
}

nav  {
  display: flex;
}

nav .nav_links {
  padding: 0 16px 0 16px;
  margin: 8px;
}

nav .nav_links h1 {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 8px;
}

nav .nav_links:hover h1 {
color: #999;
}

a, a:link, a:visited {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/spritesheet.png");
  background-position: -625px -5px;
}

.content_frame {
  width: 100vw;
}

.top {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content {
  width: 60vw;
  max-width: 1300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_title {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  margin: 16px 8px 16px;
}

.top_content p {
  padding: 8px;
  color: white;
  font-family: 'Cardo', serif;
  font-size: 20px;
  margin: 8px;
}

.top_buttons {
  display: flex;
}

.top_button {
  padding: 4px 16px 4px 16px;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  border: 2px solid white;
  border-radius: 2px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_button i {
  margin-left: 16px;
}

.top_button h1 {
  font-size: 14px;
}

#learn_more {
  background-color: #ee35ee;
  border: 2px solid #ee35ee;
}

.main_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content {
  width: 60vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_block {
  width: 60vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px 0;
}

.content_block h1 {
  font-size: 20px;
  margin: 32px 0 32px 0;
  font-family: 'Open Sans', sans-serif;
}

.features_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.features_blocks {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features_blocks p {
  max-width: 200px;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

.features_block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.mid_circle {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_block i {
  font-size: 30px;
  color: #212121;
  transition: 0.2s ease;
}

.features_blocks:hover .features_block {
  border: 3px outset #71005d;
}

.features_blocks:hover i {
  color: white;
}

.features_blocks:hover .mid_circle {
  background-color: #71005d;
}

.projects {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects h1 {
  font-size: 20px;
  margin: 64px 0 64px 0;
  font-family: 'Open Sans', sans-serif;
}

.projects_content {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 16px;
}

#octoparse {
  background-image: url("../img/Octoparse.jpg");
}

#rocket {
  background-image: url("../img/Rocket.png");
}

#bloggoss {
  background-image: url("../img/BlogGoss.png");
}

.content_break {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break {
  width: 60vw;
  height: 150px;
  margin: 64px;
  background-color: #212121;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break p {
  color: white;
  font-size: 30px;
  font-family: 'Cardo', serif;
  margin-right: 32px;
}

.break_btn {
  padding: 0 16px 0 16px;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid black;
  transition: 0.2s ease;
}

.break_btn h1 {
  color: #212121;
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
}

.break_btn:hover {
  background-color: black;
}

.break_btn:hover h1 {
  color: white;
}

/* PACKAGES */

.offers {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.offers_title {
  font-size: 20px;
  margin: 32px 0 32px 0;
  font-family: 'Open Sans', sans-serif;
}

.offers_text p {
  max-width: 60vw;
  font-size: 20px;
  font-family: 'Cardo', serif;
}

.offers_packages {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.offer {
  width: 300px;
  height: 300px;
  background-color: green;
  margin: 8px;
}

.special_offers {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers_brands_basic {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers_brands_premium {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* WEBBERN */

.webbern_title {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webbern_title h1 {
  font-size: 20px;
  margin: 32px 0 32px 0;
  font-family: 'Open Sans', sans-serif;
}

.webbern_intro_text {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 16px 0 16px 0;
}

.webbern_intro_text p {
  max-width: 60vw;
  font-size: 20px;
  font-family: 'Cardo', serif;
}

.history {
  width: 100vw;
  height: 500px;
  display: flex;
}

.history_content {
  width: 50vw;
  height: 500px;
  display: flex;
}

.history_image {
  background-image: url("../img/history.jpg");
  background-size: cover;
}

.history_text {
  background-color: #fff6ec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.history_text h1 {
  color: #212121;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.history_text hr {
  width: 15vw;
  background-color: #212121;
  border: none;
  height: 2px;
}

.history_text p {
  color: #212121;
  font-size: 20px;
  font-family: 'Cardo', serif;
  max-width: 500px;
  text-align: center;
}

.collaborators {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 16px 0;
}

.collaborator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.collaborator_image {
  width: 300px;
  height: 300px;
  background-image: url("../img/spritesheet.png");
  border-radius: 50%;
}

.collaborator h1 {
  color: #212121;
  font-size: 25px;
  font-family: 'Raleway', serif;
  margin-top: 16px;
  text-transform: uppercase;
}

.collaborator h2 {
  color: #212121;
  font-size: 20px;
  font-family: 'Raleway', serif;
  margin: 0;
  text-transform: uppercase;
}

#jonaslindblad {
  background-position: -315px -5px;
}

#sararickardsson {
  background-position: -5px -315px;
}

#bjornolofsson {
  background-position: -5px -5px;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 400px;
  background-color: #212121;
  margin-top: 32px;
}

/* MEDIA QUERIES */
@media (max-width: 1600px) {
  .projects_content {
    width: 100vw;
  }
}

@media (max-width: 960px) {
  .projects_content {
    width: 100vw;
    flex-direction: column;
  }
  .project {
    width: 100vw;
    margin: 0;
  }
}
