body {
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
}

header.header {
  height: 52px;
}

header .header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  max-width: 1300px;
  height: 80px;
  padding: 0 16px 0 16px;
  transition: 0.2s ease;
}

header .header_content.header {
  height: 52px;
}

.logo_and_brandname {
  display: flex;
  align-items: center;
}

.logo_and_brandname h1 {
  color: #212121;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
  font-weight: 800;
  margin-left: 32px;
}

nav  {
  display: flex;
}

nav .nav_links {
  padding: 0 16px 0 16px;
  margin: 8px;
}

nav .nav_links h1 {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 8px;
}

a, a:link, a:visited {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("../img/spritesheet.png");
  background-position: -425px -5px;
  transition: 0.2s ease;
}

.logo_mini {
  width: 40px;
  height: 40px;
  background-position: -485px -5px;
}

.content_frame {
  width: 100vw;
}

.top {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_content {
  width: 60vw;
  max-width: 1300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_title {
  color: white;
  font-family: 'Cardo', serif;
  font-size: 50px;
  font-weight: normal;
  margin: 16px 8px 16px;
}

.top_content p {
  color: white;
  font-family: 'Cardo', serif;
  font-size: 20px;
  margin: 8px;
}

.top_buttons {
  display: flex;
}

.top_button {
  padding: 4px 16px 4px 16px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid white;
  border-radius: 2px;
  margin: 8px;
}

.top_button h1 {
  font-size: 14px;
}

#learn_more {
  background-color: #ee35ee;
  border: 2px solid #ee35ee;
}

.main_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_content {
  width: 60vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_block {
  width: 60vw;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px 0;
}

.content_block h1 {
  font-size: 18px;
  margin: 32px 0 32px 0;
  font-family: 'Open Sans', sans-serif;
}

.features_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.features_blocks {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features_blocks p {
  max-width: 200px;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

.features_block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.mid_circle {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_block i {
  font-size: 30px;
  color: #212121;
  transition: 0.2s ease;
}

.features_block:hover {
  border: 3px solid #71005d;
  background-color: white;
}

.features_block:hover i {
  color: white;
}

.features_block:hover .mid_circle {
  background-color: #71005d;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 400px;
  background-color: #71005d;
}
